*{
    display: flex;
    justify-content: center;
    align-items: center;
}

#picDiv, #longDiv, #shortDiv {
    border: 2px solid black;
}

#mainDiv{
    height: 367px;
    background-color: aquamarine;
    padding: 10px;
    border: 2px solid black;
    position: relative;
}

#picDiv{
    height: 150px;
    width: 100px;
    background-color: rgb(225, 117, 175);
    display: inline-block;
    margin-left:15px ;
}

#longDiv{
    height: 300px;
    width: 200px;
    background-color: rgb(227, 206, 122);
    display: inline-block;
}

#shortDiv{
    height: 250px;
    width: 100px;
    background-color: skyblue; 
    position: absolute;
    bottom: 15px;
    left: 0;
}

